**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.coverage
**/reports/
**/*.pyc
**/*.egg-info/
**/.DS_Store

# PyInstaller: uv run build
**/pyinstaller/
**/dist/
**/*.spec

workspace/data/**
!workspace/data/.gitkeep
